<!-- <navbar></navbar>
<div class="row">
    <div class="col-md-8">
        <table class="table table-responsive">
            <thead>
                <th>ITEM</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>TOTAL</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in items[0].items">

                    <td >
                        <a ui-sref="product({slug: item.slug})"><img alt="" width="200" src="{{item.products.images[0]}}"></a>
                        <b>{{item.products.title}}</b><br>
                        <div ng-repeat="f in item.features">
                            <span>{{f.feature}} : {{f.value}}</span>
                        </div>

                    </td>
                    <td>{{item.products.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.quantity}} * {{item.products.price}}</td>

                </tr>


            </tbody>
        </table>
    </div>
  </div> -->
  <!--Breadcrumbs Start-->
<!-- <div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">cart</li>
                </ul>
            </div>
        </div>
    </div>
  </div> -->
  <!--End of Breadcrumbs-->
  <!-- Cart Main Area Starts-->
<!-- <section class="cart-main-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="s-title">
                    <h1>Shopping Cart</h1>
                </div>
                <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
                    Your cart is empty
                </div>
                <div class="cart-table table-responsive" ng-show="ngCart.getTotalItems() > 0">
                    <table>
                        <thead>
                            <tr>
                                <th class="p-image">Image</th>
                                <th class="p-name">Product Name</th>
                                <th class="p-amount">Unit Price</th>
                                <th class="p-quantity">Qty</th>
                                <th class="p-total">SubTotal</th>
                                <th class="p-times">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ngCart.getCart().items track by $index">
                                <td class="p-image">
                                    <a ui-sref="product({id: item.getId()})"><img alt="" width="100" src="{{item.getData().imageUrl}}"></a>
                                </td>
                                <td class="p-name"><a ui-sref="product({id: item.getId()})">{{ item.getName() }}</a></td>
                                <td class="p-amount"><span class="amount">₦{{ item.getPrice() | number:2}}</span></td>
                                <td class="p-quantity"><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp; {{ item.getQuantity() | number }}&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span>
                                </td>
                                <td class="p-total">₦{{ item.getTotal() | number:2}}</td>
                                <td class="p-action"><a href="#" ng-click="ngCart.removeItemById(item.getId())"><i class="fa fa-times"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="all-cart-buttons">
                        <a ui-sref="main">Continue Shopping</a>
                        <div class="float-right">
                            <a href="#" ng-click="clearCart('cart contents')">Clear Shopping Cart </a>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="ngCart.getTotalItems() > 0">
                    <div class="col-md-4 col-md-offset-8">
                        <div class="amount-totals">
                            <p class="total">Subtotal: <span>₦{{ ngCart.getSubTotal() | number:2}}</span></p>
                            <p class="total">Tax(5%): <span>₦{{ ngCart.getTax() | number:2}}</span></p>
                            <p class="total">Grandtotal: <span>₦{{ ngCart.totalCost() | number:2}}</span></p>
                            <a ui-sref="checkout" class="button">PROCCED TO CHECKOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section> -->
  <!--End of Cart Main Area-->
  <!-- <footer></footer> -->



  <!-- Modal Content: begins -->
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header no-borders">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="gridSystemModalLabel"></h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">

      <div class="cart-header clearfix" >
        <h3 class="pull-left">Your Cart</h3>
        <button class="btn btn-primary pull-right" ng-click="continueShop()">Continue Shopping</button>
      </div>


      <div class="row cart-items-header text-center" ng-if = "items.length == 0">
        <h3 class="text-center">Your Bag is Empty</h3>
        <button class="btn btn-primary text-center" ng-click="continueShop()">Continue Shopping</button>
      </div>

      <div class="row cart-items-header" ng-if = "items.length > 0" >
        <div class="col-sm-5">Item</div>
        <div class="col-sm-2">Unit Price</div>
        <div class="col-sm-2">Quantity</div>
        <div class="col-sm-1">GST</div>
        <div class="col-sm-2">Subtotal</div>
      </div>
      <div class="cart-item" ng-repeat="item in items track by $index" ng-if = "items.length > 0">
        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <a ng-href="/registry/collection-item/58673375e4b0649c9a82ae27"  ><img class="img-responsive" ng-src="{{item.products.coverimage}}" ></a>
          </div>

          <div class="col-xs-8 col-xs-no-gutter-left col-sm-3">
            <div class="shop-entity-details">
              <a ng-href="/registry/collection-item/58673375e4b0649c9a82ae27" target="_self" ng-click="zoCartItem.closeModal()" class="entity-name" >{{item.products.title}}</a>
              <div class="cart-item-attributes">
                <div class="value-label" ><strong>Availability:</strong> {{item.products.stock}}</div>
                <div class="value-label" ng-repeat = "f in item.features"><strong>{{f.feature}}:</strong> {{f.value}}</div>
              </div>
            </div>

          </div>

          <div class="hidden-xs col-sm-2 shop-entity-details">
            <div class="price">
              ₹ {{item.products.price}}
            </div>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-xs-6 col-sm-2 cart-item-quantity">
            <div class="form-group-inline">
              <label class="control-label visible-xs-inline-block">Quantity:</label>
              <div>
                <span class="fa fa-plus" ng-click = "changeQuantity(item.quantity+1 ,item.products._id)"></span>
                <input class="form-control input-narrow ng-pristine ng-valid ng-valid-min ng-valid-max " ng-valid-required ng-touched" type="number" ng-disabled = true  ng-model= "item.quantity" required="" min="1" max="100" step="1"  style="">
                <span class="fa fa-minus" ng-click = "changeQuantity(item.quantity-1 , item.products._id)"></span>
                <a role="button" class="small text-secondary hidden-xs" ng-click="removeItem(item.products._id , item.quantity)">Remove</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-1 cart-item-subtotal">
            <strong class="price">{{item.products.gst}} %</strong>
          </div>
          <div class="col-xs-6 col-sm-2 cart-item-subtotal">
            <strong class="price">₹ {{item.subtotal}}</strong>
          </div>

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
         <span>Subtotal :</span> <strong class="price">₹ {{subtotal}}</strong>
       </div>
     </div>

   <!--    <div class="cart-totals" ng-if = "items.length > 0" >
        <label>Subtotal:</label> <strong class="price">₹ {{subtotal}}</strong><br>

      </div> -->
      <div class="cart-footer clearfix" ng-if = "items.length > 0">
        <button class="btn btn-primary pull-left" ng-click="clearCart()">Clear Cart</button>
        <button class="btn btn-primary pull-right" ng-click="checkout()">Checkout Now</button><!-- end ngIf: zoCart.nonEmpty -->
      </div>
      <div>

      </div>
      <!-- Modal Content: ends -->

